<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--load the properties file: sport.properties-->
    <context:property-placeholder location="classpath:sport.properties"/>

    <!--define the beans here-->

    <!--define the dependency-->
    <bean id="myFortune"
          class="com.luv2code.springdemo.RandomFortuneService">
    </bean>
    <!--Define your beans here -->
    <bean id="myCoach"
          class="com.luv2code.springdemo.VolleyballCoach">
        <!--set up constructor injection -->
        <constructor-arg ref="myFortune"/>
    </bean>

    <!--    <bean id="myCricketCoach"-->
    <!--          class="com.luv2code.springdemo.CricketCoach">-->
    <!--        &lt;!&ndash;set up setter injection &ndash;&gt;-->
    <!--        <property name="fortuneService" ref="myFortune"/>-->

    <!--        &lt;!&ndash;inject literal values &ndash;&gt;-->
    <!--        <property name="emailAddress" value="${foo.emailAddress}"/>-->
    <!--        <property name="team" value="${foo.team}"/>-->
    <!--        &lt;!&ndash; <property name="emailAddress" value="elenamarianaanghel@gmail.com"/>&ndash;&gt;-->
    <!--        &lt;!&ndash; <property name="team" value="Elena's team"/>&ndash;&gt;-->

    <!--    </bean>-->

</beans>
